html, body, #map { 
	margin: 0; height: 100%; background: #fff; 
}

/* photo/video popup */
.leaflet-popup-photo a.leaflet-popup-close-button {
	top: -13px;
	right: -13px;
	background-color: #fff;
	padding: 5px;
	border-radius: 12px;
	width: 15px;
	height: 15px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	color: #555;	
}
.leaflet-popup-photo a.leaflet-popup-close-button:hover {
	color: #333;
	background-color: #eee;
}
.leaflet-popup-photo .leaflet-popup-content-wrapper { 
	padding: 6px;
	border-radius: 4px;
}
.leaflet-popup-photo .leaflet-popup-content { 
	margin: 0;
}
.leaflet-popup-photo .leaflet-popup-tip {
	background: white;
}
.leaflet-popup-photo img, 
.leaflet-popup-photo video {
	display: block;
	width: 100%;
}
.leaflet-popup-photo p {
	margin: 5px 0 0 0;
}